.AlternativeContainer {
  position: absolute;
  background-color: #ebebe3;
  top: 0;
  z-index: 10;
  width: 100%;
}

.Alternative {
  border: 1px solid #999;
  padding: 5px;
}

.Alternative p {
  margin: 0;
  font-weight: bold;
}
