.AlternativeContainer {
  position: absolute;
  background-color: #ebebe3;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 0 10px grey;
  animation: AltIn 0.2s ease-out;
}

.Alternative {
  border: 1px solid #ccc;
  padding: 10px;
}

.Alternative p {
  margin: 0;
  font-weight: 500;
  color: black;
}

@keyframes AltIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
